---
layout: default
title: components
permalink: /components/
---

<h1>about-us-card.html</h1>
{% include about-us-card.html %}

<h1>banner.html</h1>
{% include banner.html %}

<h1>carousel.html</h1>
{% include carousel.html %}

<h1>credit-card-information-card-1.html</h1>
{% include credit-card-information-card-1.html %}

<h1>credit-card-information-card-2.html</h1>
{% include credit-card-information-card-2.html %}

<h1>destination-top-picks-card.html</h1>
{% include destination-top-picks-card.html %}

<h1>footer.html</h1>
{% include footer.html %}

<h1>gallery.html</h1>
{% include gallery.html %}

<h1>kartu-kartu.html</h1>
{% include kartu-kartu.html %}

<h1>login-modal.html</h1>
{% include login-modal.html %}

<h1>maps-of-attraction-card.html</h1>
{% include maps-of-attraction-card.html %}

<h1>nearby-attraction-card.html</h1>
{% include nearby-attraction-card.html %}

<h1>number-of-night.html</h1>
{% include number-of-night.html %}

<h1>number-of-nights-card.html</h1>
{% include number-of-nights-card.html %}

<h1>price-card.html</h1>
{% include price-card.html %}

<h1>review-card-1.html</h1>
{% include review-card-1.html %}

<h1>review-card-2.html</h1>
{% include review-card-2.html %}

<h1>room-summary-component-card.html</h1>
{% include room-summary-component-card.html %}

<h1>tabs.html</h1>
{% include tabs.html %}

<h1>transfer-information-card-1.html</h1>
{% include transfer-information-card-1.html %}

<h1>transfer-information-card-2.html</h1>
{% include transfer-information-card-2.html %}

<h1>voucher-card-1.html</h1>
{% include voucher-card-2.html %}

<h1>voucher-card-2.html</h1>
{% include voucher-card-1.html %}


<h1>facilities.html</h1>
{% include facilities.html %}

<h1>accordion.html</h1>
{% include accordion.html %}

<h1>offer-footer.html</h1>
{% include offer-footer.html %}

<h1>package-summury.html</h1>
{% include package-summury.html %}

<h1>title.html</h1>
{% include title.html %}

<h1>packages-summury.html</h1>
{% include packages-summury.html %}

<h1>icons-list.html</h1>
{% include icons-list.html %}


<h1>best-package-summury.html</h1>
{% include best-package-summury.html %}