---
layout: default
title: description-page-mobile
permalink: /description-page-mobile/
---




<!-- Responsive -->
{% include gallery.html %}
{% include tabs.html %}

<!-- Representing first tab (all components from first tabs)-->
  {% include review-card-2.html %}
  {% include facilities.html %}
  {% include accordion.html %}

<!-- Representing second tab (all components from second tabs)-->
  {% include nearby-attraction-card.html %}
  {% include maps-of-attraction-card.html %}
  {% include destination-top-picks-card.html %}

<!-- Representing third tab (all components from third tabs)-->
{% include hotel-reviews.html %}
{% include hotel-reviews.html %}
{% include icons-list.html %}
{% include review-card-1.html %}


<!-- Representing fourth tab (all components from fourth tabs)-->
  {% include package-summury.html %}
  <!-- best price -->
  {% include icons-title-text-card.html %}
  <!-- 7 days (keep same text, no problem)-->
  {% include icons-title-text-card.html %}
  {% include title.html %}
  {% include room-summary-component-card.html %}
  
<!-- Mobile footer -->
{% include offer-footer.html %}
