<!-- About Us Card -->
<div class="card">
  <div class="card__head p-0">
    <img class="border-radius border-radius--all-top" src="https://source.unsplash.com/U6t80TWJ1DM" style="width: 100%;">
  </div>
  <div class="card__body">
    <div class="float float--on-card float--top float--top-min-1">
      <button class="button">
        <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-share.svg">
      </button>
    </div>
    <h3 class="pb-3">
      What so great about<br>
      <strong>La Belle Escape</strong>
    </h3>
    <p style="text-align: justify;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare purus vitae velit dapibus sodales. Praesent efficitur orci mauris, id accumsan orci interdum quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
    <p style="text-align: justify;">
      Pellentesque gravida ipsum id mi ullamcorper, ut sodales tellus tristique. Vestibulum dictum venenatis eros, sed aliquet quam bibendum sit amet. Cras cursus leo nec odio laoreet, ut efficitur justo commodo. Nullam feugiat mi sit amet luctus fringilla.
    </p>
  </div>
</div>