<div class="card-responsive">
    <div class="accordion-title">
        <h3>
            <strong><span class="text-brown">What we </span> Love</strong>
        </h3>
        <img>
    </div>
</div>
<div class="card-responsive" style="z-index: 100; position: relative">
    <div class="accordion-title">
        <h3>
            <strong><span class="text-brown">What we </span> Love</strong>
        </h3>
        <img class="open">
    </div>
</div>
<div class="accordion-content border-radius--all-bottom" style="z-index: 1; position: relative">
    <ul>
        <li>
            Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.
        </li>
        <li>
            Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.
        </li>
        <li>
            Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.
        </li>
        <li>
            Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.
        </li>                    
    </ul>
</div>  