<!-- Banner -->
<div class="card-responsive">
  <div class="card__head mb-m2 p-0"> 
    <img class="w-100 border-radius--all-top" src="{{ site.baseurl }}/assets/img/banner.png" />
    <div class="z-1 float t-0 b-0">
      <div class="only-on-large-screen">
        <div class="sale sale--on-large-screen flex flex--column align-items--center just-cont--sa p-0">
          <img src="{{ site.baseurl }}/assets/img/svg/logo-pv.svg">
          <img src="{{ site.baseurl }}/assets/img/svg/logo-pv-text.svg">
          <div class="w-100 py-3 bg-blue text-white flex flex--column">
            <h1 class="text-center">
              <strong>UBUD | BALI</strong>
            </h1>
            <h1 class="text-center">
              Save Up To 30%
            </h1>
          </div>
          <div class="flex flex-wrap--wrap;">
             <div class="flex just-cont--sb">
              <p class="text-center column column--50">
                <img class="pb-2" src="{{ site.baseurl }}/assets/img/svg/icon-pickup.svg" />
                <br>
                <small>Pick Up</small>
              </p>
              <p class="text-center column column--50">
                <img class="pb-2" src="{{ site.baseurl }}/assets/img/svg/icon-cocktail.svg" />
                <br>
                <small>Cocktail</small>
              </p>
              <p class="text-center column column--50">
                <img class="pb-2" src="{{ site.baseurl }}/assets/img/svg/icon-spa.svg" />
                <br>
                <small>Spa</small>
              </p>
              <p class="text-center column column--50">
                <img class="pb-3" src="{{ site.baseurl }}/assets/img/svg/icon-more.svg" />
                <br>
                <small>+5 More</small>
              </p>
            </div>
          </div>
        </div>
  </div>
      <div class="only-on-small-screen">
        <div class="sale sale--on-small-screen">
          <p>
            <small>UP TO</small><br>
              <strong class="text-brown fs-big">44%</strong><br>
              <small>OFF</small>
          </p>
        </div>
        <div class="sale__bottom">
      </div>
      </div>
    </div>
    <div class="z-3 float b-0">
      <div class="flex just-cont--ct align-items--center align-content--center text-white mb-3">
        <ul class="nav-list nav-list--horizontal flex align-content--center align-items--center fs-small">
          <li>
            <i class="fas fa-circle fa-xs"></i>
          </li>
          <li>
            <i class="fas fa-circle"></i>
          </li>
          <li>
            <i class="fas fa-circle fa-lg"></i>
          </li>
          <li>
            <i class="fas fa-circle"></i>
          </li>
          <li>
            <i class="fas fa-circle fa-xs"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card__body pb-2 px-5">
    <div class="z-1 line"></div>
    <div class="z-3 float float--on-card float--top-min-1">
      <div class="flex just-cont--sb">
        <button class="button button--brown button--no-box-shadow">
          Deals End <strong>| 23 Days</strong>
        </button>
        <button class="button button--brown-reverse circled">
          <i class="fas fa-heart"></i>
        </button>
      </div>
    </div>
    <p class="pt-3">
      <small>
        <i class="fas fa-star text-yellow"></i>
        <i class="fas fa-star text-yellow"></i>
        <i class="fas fa-star text-yellow"></i>
        <i class="fas fa-star text-yellow"></i>
        <i class="far fa-star text-yellow"></i>
      </small>
    </p>
    <h1>
      <strong>The Purist Villas</strong> | <small>Ubud, Bali</small>
    </h1>
    <p>
      <img class="" src="{{ site.baseurl }}/assets/img/svg/icon-tripadvisor.svg" />
      <i class="far fa-dot-circle text-blue"></i>
      <i class="far fa-dot-circle text-blue"></i>
      <i class="far fa-dot-circle text-blue"></i>
      <i class="far fa-dot-circle text-blue"></i>
      <i class="far fa-circle"></i>
      (183 Reviews)
    </p>
    <p>
      <img class="" src="{{ site.baseurl }}/assets/img/svg/icon-moon-star.svg" />
      Package 3 - 5 Nights, From 
      <small class="text-gray"><del>Rp. 2.500.000</del></small>
      <strong class="text-brown">Rp. 1.500.000</strong>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <div class="card__foot pt-0 px-5">
    <div class="only-on-small-screen">
      <div class="flex just-cont--sb">
        <p class="text-center">
          <img class="pb-2" src="{{ site.baseurl }}/assets/img/svg/icon-pickup.svg" />
          <br>
          <small>Pick Up</small>
        </p>
        <p class="text-center">
          <img class="pb-2" src="{{ site.baseurl }}/assets/img/svg/icon-cocktail.svg" />
          <br>
          <small>Cocktail</small>
        </p>
        <p class="text-center">
          <img class="pb-2" src="{{ site.baseurl }}/assets/img/svg/icon-spa.svg" />
          <br>
          <small>Spa</small>
        </p>
        <p class="text-center">
          <img class="pb-3" src="{{ site.baseurl }}/assets/img/svg/icon-more.svg" />
          <br>
          <small>+5 More</small>
        </p>
      </div>
    </div>
    
  </div>
</div>
