<div class="card" style="z-index: 1; margin-bottom: 2rem;">

  <div class="card__element-1" style="z-index: 2;">

    {% include carousel.html %}

    <div class="card__element-1--overlay" style="z-index: 3;">
      
      {% include banner.html %}

    </div>
    
  </div>

  <div class="card__element-2">
    
    <div class="card__element-2__element-1">
      <button class="button button--brown rounded">
        Deals Ends <strong>| 23 Days</strong> 
      </button>
    </div>

    <div class="card__element-2__element-2">
      <button class="button button--brown-reverse circled">
        <i class="fas fa-heart"></i>
      </button>
    </div>

  </div>

  <div class="card__element-3">
    <div class="row">
      <div class="column two-thirds">
        <p class="text-yellow">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </p>
        <h2>
          The Purist Villa
          <small class="text-muted">| Ubud, Bali</small>
        </h2>
          <img src="{{ site.baseurl }}/assets/img/ta-logo.png" style="width: 1.6rem; margin-bottom: -3px;">
          <i class="fab fa-tripadvisory"></i>
          <i class="far fa-dot-circle text-blue"></i>
          <i class="far fa-dot-circle text-blue"></i>
          <i class="far fa-dot-circle text-blue"></i>
          <i class="far fa-dot-circle text-blue"></i>
          <i class="far fa-circle"></i>
          <span>(183 Reviews)</span>
          <span class="only-on-small-screen--inline-block">
            <i class="fas fa-family"></i>
            Family Friendly  
          </span>
          
        </p>
        <p class="small only-on-small-screen">
          <i class="fas fa-moon"></i>
          Package 3 - 5 Nights 
          <del>
            <strong>
              Rp. 2.500.000
            </strong>
          </del>
          <span class="text-brown">
            | Rp. 1.500.000
          </span>
        </p>
        <p style="margin: 1rem 0;">
          Lorem ipsum sit amet do amet sit ha hi ipsum lorem lorem ipsum ipssum
        </p>
      </div>
      <div class="column third">
        <div class="box box--bordered--only-left only-on-large-screen">
          <p>
            Package 3 - 5 Nights  
          </p>
          <p>
            <del>
              <strong>
                Rp. 2.500.000
              </strong>
            </del>
            <span class="text-brown">
              | Rp. 1.500.000
            </span>  
          </p>
        </div>
        <button class="button button--brown rounded only-on-large-screen">
          View Details
        </button>
      </div>
    </div>
    <style>
      .inclusions--on-small {
        margin: 2rem 0 0;
        display: block;
      }

      .inclusions--on-small i {
        margin-bottom: 0.5rem;
      }
      .inclusions--on-small img {
        margin-bottom: 0.5rem;
      }
      
      @media (min-width: 768px) {
        .inclusions--on-small {
           display: none;
        }
      }
    </style>
    <div class="inclusions--on-small">
      <div class="row">
        <div class="column fourth text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <img src="{{ site.baseurl }}/assets/img/pick-up.png">
          Pick Up
        </div>
        <div class="column fourth text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <img src="{{ site.baseurl }}/assets/img/cocktail.png">
          Cocktail
        </div>
        <div class="column fourth text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <img src="{{ site.baseurl }}/assets/img/spa.png">
          Spa
        </div>
        <div class="column fourth text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <img src="{{ site.baseurl }}/assets/img/pick-up.png">
          +5 More
        </div>
      </div>
    </div>
  </div>

</div>

<div class="card" style="z-index: 1; margin-bottom: 2rem;">

  <div class="card__element-1" style="z-index: 2;">

    {% include carousel.html %}

    <div class="card__element-1--overlay" style="z-index: 3;">
      
      {% include banner.html %}

    </div>
    
  </div>

  <div class="card__element-2">
    
    <div class="card__element-2__element-1">
      <button class="button button--brown rounded">
        Deals Ends <strong>| 23 Days</strong> 
      </button>
    </div>

    <div class="card__element-2__element-2">
      <button class="button button--brown-reverse circled">
        <i class="fas fa-heart"></i>
      </button>
    </div>

  </div>

  <div class="card__element-3">
    <div class="row">
      <div class="column two-thirds">
        <p class="text-yellow">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </p>
        <h2>
          The Purist Villa
          <small class="text-muted">| Ubud, Bali</small>
        </h2>
          <img src="{{ site.baseurl }}/assets/img/ta-logo.png" style="width: 1.6rem; margin-bottom: -3px;">
          <i class="fab fa-tripadvisory"></i>
          <i class="far fa-dot-circle text-blue"></i>
          <i class="far fa-dot-circle text-blue"></i>
          <i class="far fa-dot-circle text-blue"></i>
          <i class="far fa-dot-circle text-blue"></i>
          <i class="far fa-circle"></i>
          <span>(183 Reviews)</span>
          <span class="only-on-small-screen--inline-block">
            <i class="fas fa-family"></i>
            Family Friendly  
          </span>
        </p>
        <p class="small only-on-small-screen">
          <i class="fas fa-moon"></i>
          Package 3 - 5 Nights 
          <del>
            <strong>
              Rp. 2.500.000
            </strong>
          </del>
          <span class="text-brown">
            | Rp. 1.500.000
          </span>
        </p>
        <p style="margin: 1rem 0;">
          Lorem ipsum sit amet do amet sit ha hi ipsum lorem lorem ipsum ipssum
        </p>
      </div>
      <div class="column third">
        <div class="box box--bordered--only-left only-on-large-screen">
          <p>
            Package 3 - 5 Nights  
          </p>
          <p>
            <del>
              <strong>
                Rp. 2.500.000
              </strong>
            </del>
            <span class="text-brown">
              | Rp. 1.500.000
            </span>  
          </p>
        </div>
        <button class="button button--brown rounded only-on-large-screen">
          View Details
        </button>
      </div>
    </div>
    <style>
      .inclusions--on-small {
        margin: 2rem 0 0;
        display: block;
      }

      .inclusions--on-small i {
        margin-bottom: 0.5rem;
      }
      .inclusions--on-small img {
        margin-bottom: 0.5rem;
      }
      
      @media (min-width: 768px) {
        .inclusions--on-small {
           display: none;
        }
      }
    </style>
    <div class="inclusions--on-small">
      <div class="row">
        <div class="column fourth text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <img src="{{ site.baseurl }}/assets/img/pick-up.png">
          Pick Up
        </div>
        <div class="column fourth text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <img src="{{ site.baseurl }}/assets/img/cocktail.png">
          Cocktail
        </div>
        <div class="column fourth text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <img src="{{ site.baseurl }}/assets/img/spa.png">
          Spa
        </div>
        <div class="column fourth text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <img src="{{ site.baseurl }}/assets/img/pick-up.png">
          +5 More
        </div>
      </div>
    </div>
  </div>

</div>