<div class="card-responsive">
  <div class="card-title">
    <h3>
      <strong>
      <span class="text-brown">Destination</span> Top Picks
      </strong>
    </h3>
  </div>

  <div class="card__body p-0 destination-top-pic">
      <div class="float float--on-card float--bottom-min-1">
        <button class="button button--brown ml-5">
          10 Popular Places in Bali
        </button>
      </div>
      <div class='img-container'>
          <img src="{{ site.baseurl }}/assets/img/picture.jpeg">
      </div>
      
    </div>
  </div>

</div>
