<!-- Footer -->
<div class="footer p-4 bg-black text-white">
  <div class="wrapper">
    <div class="flex flex-wrap--wrap">
      <div class="column column--100">
        <h3 class="mb-3 text-brown">
          <strong>Follow Us</strong>
        </h3>
        <ul class="nav-list nav-list--horizontal mb-4">
          <li>
            <a href="#">
              <img src="{{ site.baseurl }}/assets/img/svg/icon-instagram.svg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="{{ site.baseurl }}/assets/img/svg/icon-facebook.svg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="{{ site.baseurl }}/assets/img/svg/icon-linkedin.svg" />
            </a>
          </li>
        </ul>
      </div>
      <div class="column column--50 column--30--on-large-screen">
        <h3 class="mb-3 text-brown">
          <strong>La Belle Escape</strong>
        </h3>
        <ul class="nav-list mb-4">
          <li>
            <a href="#">Partner With Us</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Terms & Conditions</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">How We Calculate Our Discount Rate?</a>
          </li>
        </ul>
      </div>
      <div class="column column--50 column--30--on-large-screen">
        <h3 class="mb-3 text-brown">
          <strong>Help</strong>
        </h3>
        <ul class="nav-list mb-4">
          <li>
            <a href="#">FAQ Database</a>
          </li>
          <li>
            <a href="#">Refund Policy</a>
          </li>
          <li>
            <a href="#">Careers</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="column column--100 column--40--on-large-screen">
        <h3 class="mb-3 text-brown">
          <strong>Info</strong>
        </h3>
        <ul class="nav-list mb-4">
          <li>
            <a href="#">+62 819 1089 2076</a>
          </li>
          <li>
            <a href="#">info@labelleescape</a>
          </li>
          <li>
            <a href="#">Jln. Teuku Umar Barat 12b, Denpasar, 60118, Indonesia</a>
          </li>
        </ul>
      </div>
      <div class="column column--100">
        <h3 class="mb-3 text-brown">
          <strong>Payment Methods</strong>
        </h3>
        <ul class="nav-list nav-list--horizontal mb-4">
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-bank-bca.svg" />
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-bank-permata.svg" />
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-bank-mandiri.svg" />
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-bank-bni.svg" />
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-bank-bca-pay.svg" />
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-bank-cimb-click.svg" />
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-bank-atm-bersama.svg" />
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-bank-visa.svg" />
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-bank-mastercard.svg" />
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-bank-prima.svg" />
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-bank-alto.svg" />
          </li>
        </ul>
      </div>
      <div class="column column--100">
        <ul class="nav-list nav-list--horizontal mb-4">
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-secure-1.svg" />
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/img/svg/icon-secure-2.svg" />
          </li>
        </ul>
      </div>
      <div class="column column--100">
        <p class="text-center">
          <small>Made by La Belle Escape</small>
        </p>
      </div>
    </div>
  </div>
</div>
