<!-- https://trello.com/c/Y4KDSpTa/3-gallery -->
<div class="card-fluid">
  <div class="card__head mb-m2 p-0">
    <div class="flex">
      <div class="column--10--on-large-screen bg-blue">
        <div class="h-100 flex just-cont--ct align-items--center">
          <ul class="only-on-large-screen nav-list nav-list--horizontal flex fs-small text-white">
            <li>
              <i class="fas fa-circle fa-xs"></i>
            </li>
            <li>
              <i class="fas fa-circle"></i>
            </li>
            <li>
              <i class="fas fa-circle fa-lg"></i>
            </li>
          </ul>
        </div> 
      </div>
      <div class="column--100 column--80--on-large-screen">
        <img class="w-100" src="https://eighthijr.github.io/labelleescape/assets/img/banner.png"/>
        <div class="z-2 float float--bottom-min-1 px-4">
          <button class="button button--brown button--no-box-shadow">
            Deals Ends | <strong>23 Days</strong>
          </button>
        </div>
        <div class="only-on-small-screen">
          <div class="z-3 float b-0">
            <div class="flex just-cont--ct align-items--center align-content--center text-white mb-3">
              <ul class="nav-list nav-list--horizontal flex align-content--center align-items--center fs-small">
                <li>
                  <i class="fas fa-circle fa-xs"></i>
                </li>
                <li>
                  <i class="fas fa-circle"></i>
                </li>
                <li>
                  <i class="fas fa-circle fa-lg"></i>
                </li>
                <li>
                  <i class="fas fa-circle"></i>
                </li>
                <li>
                  <i class="fas fa-circle fa-xs"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column--10--on-large-screen bg-blue">
        <div class="h-100 flex just-cont--ct align-items--center">
          <ul class="nav-list nav-list--horizontal flex fs-small text-white only-on-large-screen">
            <li>
              <i class="fas fa-circle fa-lg"></i>
            </li>
            <li>
              <i class="fas fa-circle"></i>
            </li>
            <li>
              <i class="fas fa-circle fa-xs"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card__body p-0">
    <div class="line"></div>
  </div>
</div>
