<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>La Belle Escape</title>
<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
<!--
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
-->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- Owl Stylesheets -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.theme.default.min.css">

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/owl.carousel.js"></script>
