<!-- Header -->
<div class="header mb-5 py-3">
  <div class="wrapper">
    <div class="flex flex-wrap--wrap just-cont--sb align-items--center">
      <div class="only-on-small-screen">
        <img class="mr-3" src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-trigger-button.svg" />
      </div>
      <div class="flex-grow">
        <img class="h-1rem" src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-labelleescape.svg" />
        <span class="font-quicksand">| La Belle <strong>Escape</strong></span>
      </div>
      <div class="only-on-large-screen">
        <ul class="nav-list nav-list--horizontal">
          <li class="mb-0">
            <a class="text-brown mr-5" href="#">About Us</a>
          </li>
          <li class="mb-0">
            <a class="text-brown mr-5" href="#">Contact</a>
          </li>
          <li class="mb-0">
            <a class="text-brown mr-5" href="#">Get Inspired</a>
          </li>
          <li class="mb-0">
            <button class="button button--brown">
              Login
            </button>
          </li>
          <li class="mb-0">
            <button class="button button--brown circled">
              <i class="fas fa-phone fa-flip-horizontal"></i>
            </button>
          </li>
        </ul>
      </div>
      <div class="only-on-small-screen">
        <!-- <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-flag-great-britain.svg" /> -->
          <ul class="nav-list nav-list--horizontal">
            <li class="mb-0">
              <button class="button button--brown">
                Login
              </button>
            </li>
            <li class="mb-0">
              <button class="button button--brown circled">
                <i class="fas fa-phone fa-flip-horizontal"></i>
              </button>
            </li>
          </ul>        
      </div>
    </div>
  </div>
</div>
