<div class="card-responsive">
    <div class='review'>
        <div class='info'>
                <h3>
                    <strong><span class="text-green">Hotel</span> Review</strong>
                </h3>
                <p class='origin'>
                    <img src="{{ site.baseurl }}/assets/img/svg/icon-review-trip-advisor.svg">
                    <span>From trip advisor</span>
                </p> 
                <div class='score'>
                    <p>From 700 Guests</p>
                    <h1>8.5</h1>
                    <strong>Convenient</strong>
                </div>
            </div>
            <div class='reviews-panel'>
                <ul>
                    <li><span>Confort</span>
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-empty.svg">
                    </li>
                    <li><span>Fringilla</span>
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-empty.svg">
                    </li>
                    <li><span>Mattis</span>
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-empty.svg">
                    </li>
                    <li><span>Euismod</span>
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-full.svg">
                        <img src="{{ site.baseurl }}/assets/img/svg/icon-review-score-empty.svg">
                    </li>

                </ul>
            </div>

            <div class='last-review'>
                <img src="{{ site.baseurl }}/assets/img/svg/icon-review-trip-advisor.svg">
                <div>
                    <strong>Venenatis Fermentum Aenean:</strong>
                    <p>
                        Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue.
                    </p>
                </div>
            </div>
    </div>
</div>
      