<!-- Description Page/Panel -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Hotel Facilities -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Accordion -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Nearby Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Maps Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- TripAdvisor Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Article Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Package Summary Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Room Summary Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Number of Night Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Voucher Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- My Booking Modal Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Account Details Change Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Authentification Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Credit Card Form Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Price Details Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Transfer Information Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Transfer Selection Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Guest Form Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>

<!-- Book Summary Component -->
<div class="kartu">
  <div class="kartu--head">
  </div>
  <div class="kartu--body">
  </div>
  <div class="kartu--foot">
  </div>
</div>
