<nav class="nav">
  
  <div class="nav__element-1 only-on-small-screen">
    <i class="fas fa-bars fa-lg"></i>
  </div>

  <div class="nav__element-2">
    <a href="#">
      <span class="quicksand-r">
        La Belle <strong class="quicksand-b">Escape</strong>
      </span>
    </a>
  </div>

  <div class="nav__element-3 only-on-large-screen">
    <ul class="nav__list">
      <li class="nav__list__item">
        <a class="text-brown" href="#">About Us</a>
      </li>
      <li class="nav__list__item">
        <a class="text-brown" href="#">Contact</a>
      </li>
      <li class="nav__list__item">
        <a class="text-brown" href="#">Magazine</a>
      </li>
    </ul>
  </div>

  <div class="nav__element-4">
    <button class="button button--brown rounded">
      Login
    </button>
    <button class="button button--brown circled">
      <i class="fas fa-phone fa-flip-horizontal"></i>
    </button>
  </div>

</nav>