<div class="kartu">
  <div class="kartu__head text-white" style="background-color: #0f9c7a">
    <strong>5 or 6 Nights Package</strong>
  </div>
  <div class="kartu__body">
    <p>Garden Suite Room <small>Adults: 2 | Kids: 1</small></p>
    <div>
      <strong><small>(4) Additional Benefit:</small></strong>
    </div>.
    <p><a href="#">What is Buy Now Book Later?</a></p>
  </div>
  <div class="kartu__foot text-white" style="background-color: #0f9c7a">
    <div class="line">
      <button class="btn">
        Buy Now Book Later
      </button>
      <button class="btn btn--brown">
        Book Now
      </button>
    </div>
    <p>
    Kaki kartu
    </p>
  </div>
</div>
