<!-- Number of Nights Card -->
<div class="card">
  <div class="card__head bg-blue text-white border-radius border-radius--all-top">
    <h2>
      <strong>3 or 4 Nights Package</strong>
    </h2>
  </div>
  <div class="card__body py-3">
    <h3>
      <strong>Garden Suite Room</strong>
    </h3>
    <p>
      Adults 2 | Kids 1
    </p>
    <p class="pt-3">
      <strong>4/8 Additional Benefit</strong>
    </p>
    <div>
      <div class="flex just-cont--sb" >
        <span class="flex-grow">
          Breakfast for 2
        </span>
        <span>Free Bike</span>
      </div>
      <div class="flex just-cont--sb">
        <span>Pick Up Service</span>
        <span>20% Discount F&B</span>
      </div>
    </div>
    <p class="pt-3">
      <i class="fas fa-info-circle"></i>
      <a href="#">What is buy now book later?</a>
    </p>
  </div>
  <div class="card__foot bg-blue text-white border-radius border-radius--all-bottom">
    <div class="float float--on-card float--top-min-1">
      <div class="flex just-cont--sb">
        <button class="button button--black text-uppercase">
          Buy Now Book Later
        </button>
        <button class="button button--brown text-uppercase">
          Book Now
        </button>
      </div>
    </div>
    <div class="flex just-cont--sb align-items--center pt-3">
      <div>
        <h2><del><small>Rp. 6.200.000</small></del></h2>
        <h2><strong>Rp. 2.500.000</strong></h2>
        <small>per night | inclusive of taxes</small>
      </div>
      <h3 class="text-center">
        Save Up To<br>
        <strong>40% OFF</strong>
      </h3>
    </div>
  </div>
</div>