<!-- Price Card -->
<div class="card">
  <div class="card__head">
    <div class="flex just-cont--sb">
      <button class="button button--brown button--no-box-shadow">
        Price Detail
      </button>
      <i class="far fa-2x fa-file"></i>
    </div>
  </div>
  <div class="card__body">
    <p>
      <strong>The Purist Villas | Ubud</strong><br>
      3 Nights at Garden Suite Room
    </p>
  </div>
  <div class="card__foot">
    <div class="flex just-cont--sb align-items--end border border--bottom border--brown mb-3 pb-2">
      <h1 class="text-brown">Rp. 5.500.000</h1>
      <span class="mb-0">Transfer Amount</span>
    </div>
    <p>
      per package<br>
      inclusive of taxes
    </p>
  </div>
</div>