<!-- Review Card -->
<div class="card-responsive">
  <div class="card__body">
    <p>
      <i class="fas fa-star text-yellow"></i>
      <i class="fas fa-star text-yellow"></i>
      <i class="fas fa-star text-yellow"></i>
      <i class="fas fa-star text-yellow"></i>
      <i class="far fa-star text-yellow"></i>
    </p>
    <h3><strong>The Purist Villas</strong></h3>
    <p>
      <small>
        <i class="fas fa-map-marker-alt"></i>
        Ubud, Bali
      </small>
    </p>
    <p>
      <button class="button button--small button--brown button--no-box-shadow">Wellness</button>
      <button class="button button--small button--brown button--no-box-shadow">Wellness</button>
      <button class="button button--small button--brown button--no-box-shadow">Wellness</button>
    </p>
    <h5><strong>Marketing Caption</strong></h5>
    <p>
      <small>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </small>
    </p>
    <p>
      <small>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
      </small>
    </p>
  </div>
</div>