<!-- Review Card -->
<div class="card-responsive">
  <div class="card__body">
    <p>
      <small>
        Reviewed by
      </small>
    </p>
    <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/telegraph.svg">
    <p>
      <small>
        <i class="fas fa-star text-yellow"></i>
        <i class="fas fa-star text-yellow"></i>
        <i class="fas fa-star text-yellow"></i>
        <i class="fas fa-star text-yellow"></i>
        <i class="far fa-star text-yellow"></i>
        (4/5)
      </small>
    </p>
    <h4><strong>Title or Quote</strong></h4>
    <p>
      <small>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
      </small>
    </p>
  </div>
</div>