<!-- Room Summary Component Card -->
<div class="card-responsive">
  <div class="card__head p-0">
    <img class="border-radius border-radius--all-top" src="https://source.unsplash.com/76-58HpxvpQ" style="width: 100%;">
  </div>
  <div class="card__body">
    <div class="flex pb-3" style="margin: 0 -2rem; padding-left: 2rem;">
      <div class="column column--70">
        <h2>
          <strong>Pool Villas</strong>
        </h2>
        <small>
          <i>*Minimum 3 Nights Stay</i> | <a href="#">Room Details</a>
        </small>
      </div>
      <div class="column column--30">
        <button class="button button--block button--blue button--no-box-shadow" style="border-radius: 1rem 0 0 1rem;">
          <strong>30% OFF</strong>
        </button>
      </div>
    </div>
    <div class="flex pb-3">
      <div class="column column--50">
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-room-size.svg" style="width: 1rem; height: 1rem;">
          Room Size: <strong>120 Sqm</strong>
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-adult-child.svg" style="width: 1rem; height: 1rem;">
          Adults: <strong>2</strong> | Child: <strong>1</strong>
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-bed-king-or-twin.svg" style="width: 1rem; height: 1rem;">
          Bed: <strong>King or Twin</strong>
        </span>
      </div>
      <div class="column column--50">
        Starting From
        <h2 class="text-brown">
          Rp. 5.500.000
        </h2>
        <small>
          per night | inclusive of taxes
        </small>
      </div>
    </div>
    <div class="flex pb-3">
      <div class="column column--100 pb-2">
        <strong>
          Additional Benefit:
        </strong>
      </div>
      <div class="column column--50">
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-breakfast.svg" style="width: 1rem; height: 1rem;">
          Breakfast for 2
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-pickup.svg" style="width: 1rem; height: 1rem;">
          Pick Up Services
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-welcome-drink.svg" style="width: 1rem; height: 1rem;">
          Welcome Drinks
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-tea-time-and-snack.svg" style="width: 1rem; height: 1rem;">
          Tea Time and Snacks
        </span>
      </div>
      <div class="column column--50">
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-bike.svg" style="width: 1rem; height: 1rem;">
          Free Bike
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-fnb.svg" style="width: 1rem; height: 1rem;">
          20% Discount F&B
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-spa.svg" style="width: 1rem; height: 1rem;">
          20% Discount Spa
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-fruit.svg" style="width: 1rem; height: 1rem;">
          Fresh Fruit
        </span>
      </div>
    </div>
    <div class="flex just-cont--ct">
      <button class="button button--brown">
        Select
      </button>
    </div>
  </div>
</div>

<!-- https://trello.com/c/TuD2q4G8/15-room-summary-component -->