<!-- //Responsive (disappear on desktop) -->
<!-- https://trello.com/c/WxATukfj/2-description-page-mobile-tabs -->

<!-- Navigation Tabs Mobile Only -->
<div class="only-on-small-screen">
  <ul class="nav-list nav-list--tab mb-4 px-4">
    <li class="mb-0">
      <p class="mb-0 text-center text-blue">
        Description<br/>
        <img class="py-2" src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-tab-description.svg"/>
        <div class="nav-tab-line nav-tab-line--active"></div>
      </p>
    </li>
    <li class="mb-0">
      <p class="mb-0 text-center text-blue">
        Destination<br/>
        <img class="py-2" src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-tab-destination.svg"/>
        <div class="nav-tab-line"></div>
      </p>
    </li>
    <li class="mb-0">
      <p class="mb-0 text-center text-blue">
        Review<br/>
        <img class="py-2" src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-tab-review.svg"/>
        <div class="nav-tab-line"></div>
      </p>
    </li>
    <li class="mb-0">
      <p class="mb-0 text-center text-blue">
        Offer<br/>
        <img class="py-2" src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-tab-offer.svg"/>
        <div class="nav-tab-line"></div>
      </p>
    </li>
  </ul>
</div>
