<!-- Transfer Information Card -->
<div class="card text-white voucher--black">
  <div class="card__head">
    <div class="flex just-cont--sb">
      <span>Please transfer to:</span>
      <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/logo-bank-bca.svg">
    </div>
  </div>
  <div class="card__body">
    <span>Bank BCA Account Number:</span>
    <h2>
      <strong>
        065 - 2345 - 1212
      </strong>
    </h2>
  </div>
  <div class="card__foot">
    <div class="flex just-cont--sb">
      <p>
        Bank Code:<br>
        <strong>014</strong>
      </p>
      <p>
        Account Holder Name:<br>
        <strong>La Belle Escape</strong>
      </p>
    </div>
  </div>
</div>