<!-- Transfer Information Card -->
<div class="card">
  <div class="card__head">
    <div class="flex just-cont--sb">
      <strong>Please transfer to:</strong>
    </div>
  </div>
  <div class="card__body">
    <div class="flex just-cont--sb">
      <p class="flex-10">
        Bank Code:<br>
        <strong>008</strong>
      </p>
      <p class="flex-grow pl-5">
        Account Number:<br>
        <strong>165 - 650 - 034 - 273</strong>
      </p>
    </div>
  </div>
  <div class="card__foot">
    <div class="flex just-cont--sb">
      <img class="flex-10" src="https://eighthijr.github.io/labelleescape/assets/img/svg/logo-bank-mandiri.svg">
      <p class="flex-grow pl-5">
        Account Holder Name:<br>
        <strong>La Belle Escape</strong>
      </p>
    </div>
  </div>
</div>