<!-- Voucher Card -->
<div class="card text-white voucher--blue">
  <div class="card__head">
    <div class="flex just-cont--ed align-items--center">
      <p class="mr-2 pr-2 mb-0 font-quicksand text-right border border--right border--white">
      Credit Voucher<br>
      La Belle <strong>Escape</strong>
    </p>
      <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-gift.svg" style="width: 2rem; height: 2rem;">
    </div>
  </div>
  <div class="card__body">
    <h1>
      <strong>10% OFF</strong> | for the next booking
    </h1>
  </div>
  <div class="card__foot">
    <p>
      *Terms and Condition Written Here
    </p>
    <div class="float float--on-card float--bottom-min-1">
      <div class="flex just-cont--ct">
        <button class="button button--brown">
          Use Now
        </button>
      </div>
    </div>
  </div>
</div>
<p class="text-center">
  Credit Voucher Expired In
</p>
<h1 class="text-center pb-5">
  <strong>
    20 Days
  </strong>
</h1>