.card-title {
    margin: 19px 22px 0px 31px;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.02em;

    .location {
        font-size: 13px;
        line-height: normal;
        letter-spacing: 0.02em;
    }
}

.card-content {
    // margin: 0 5px 19px 5px;
    margin: 0 22px 5px 22px;
}

.list-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    p {
        margin-top: 15px;
    }

    path {
        fill: $brown;
    }
    
    small {
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color:$black;
    }
}

