<!DOCTYPE html>
<html>
<head>
  
  {% include head.html %}

</head>
<body>

  {% include review-card-1.html %}

  {% include review-card-2.html %}

  {% include price-card.html %}

  {% include voucher-card-1.html %}

  {% include voucher-card-2.html %}

  {% include transfer-information-card-1.html %}

  {% include transfer-information-card-2.html %}

  {% include credit-card-information-card-1.html %}

  {% include credit-card-information-card-2.html %}

  {% include number-of-nights-card.html %}

  {% include nearby-attraction-card.html %}

  {% include maps-of-attraction-card.html %}

  {% include destination-top-picks-card.html %}

  {% include about-us-card.html %}

  {% include room-summary-component-card.html %}
  
</body>
</html>
